node_modules/
npm-debug.log
yarn-error.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot

# Laravel 5 & Lumen specific with changed public path
public_html/storage
public_html/hot

storage/*.key
.env
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache

# VSCode
.vscode/

# Spelling/Dictionary tools
.cspell/custom-dictionary-workspace.txt
cspell.json

# Sensitive / config overrides
app/Http/Middleware/TrustProxies.php
config/trustedproxy.php
app/Providers/AppServiceProvider.php
public/.htaccess

# Laravel VSCode Helper
laravel-vscode.php
vendor/_laravel_ide/discover-1e7ea3cf42a2f9b84f3de09530e2c135.php
vendor/_laravel_ide/discover-6d96201ad95cad12367117063c707ebf.php
vendor/_laravel_ide/discover-6fd83ab5fb3f0a7e73c08ddae18f9934.php
vendor/_laravel_ide/discover-31b934f114eabc246b541addb8b458e3.php
vendor/_laravel_ide/discover-77e9e6a2445455b87d4f4cd834e4e23d.php
vendor/_laravel_ide/discover-79de9752f999b6e261cd05abba67a5ce.php
vendor/_laravel_ide/discover-476fe65492650d7ce55de1f8f96024c5.php
vendor/_laravel_ide/discover-739c51cbd2b78369222c3575c94c5ee8.php
vendor/_laravel_ide/discover-5802e590a92e23606bb54d2909564178.php
vendor/_laravel_ide/discover-7563160ca998bde672640aa1e68dfd08.php
vendor/_laravel_ide/discover-b2238725d3a9b1f49ec262da9e63ff86.php
vendor/_laravel_ide/discover-d65bb7343c1593c04a323211e6bd1f9a.php
vendor/_laravel_ide/discover-f6c2bb05e77ee582c501379f6998f2c4.php
